html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.validation-error {
    color: red;
    font-size: smaller;
}

.form-wrapper {
    float: none;
    margin: 0 auto;
    max-width: 600px;
}

.form-default {
    width: 300px;
}

/* Following imported from old project */

.panel-wrapper {
    margin-left: 15%;
    margin-right: 15%;
}

#hints {
    margin-bottom: 0.25em;
    overflow: hidden;
    max-height: 4.75em;
    height: 4.75em;
}

.game-input {
    width: 100%;
    min-width: 200px;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.col-centered {
    margin: 0 auto;
    float: none;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
}

.icon {
    padding: 5px;
    /*min-width: 50px;*/
    text-align: center;
}

.form-wrapper {
    float: none;
    margin: 0 auto;
    max-width: 600px;
}

.funky-font {
    font-family: 'Sriracha', cursive;
}

#home-title {
    margin-top: 10px;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding-right: 5px;
    padding-left: 5px;
}

.highlight-error {
    box-shadow: 0 0 5px rgba(255, 66, 66, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(255, 66, 66, 1);
}

#gameover_score {
    font-size: 2em;
}