html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.validation-error {
    color: red;
    font-size: smaller;
}

.form-wrapper {
    float: none;
    margin: 0 auto;
    max-width: 600px;
}

.form-default {
    width: 300px;
}