@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <div class="row">
        @foreach (var group in Model.Verbs)
        {
            <div class="col-md-4">
                <table class="text-left">
                    <thead>
                        <tr>
                            <th>Base</th>
                            <th>Past Principle</th>
                            <th>Preterit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var verb in group)
                        {
                            <tr>
                                <td>@verb.BaseForm</td>
                                <td>@verb.PastPrinciple</td>
                                <td>@verb.Preterit</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
