@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string[] titles = new string[3] { "Eeasy", "Medium", "Hard" };
    int index = 0;
}

<div class="container">

    <div class="row gx-2">
        @foreach (var group in Model.Verbs)
        {
            <div class="col">
                <h3>@titles[index++]</h3>
                <div class="bg-white">
                    <table class="table text-left">
                        <thead>
                            <tr>
                                <th scope="col">Base</th>
                                <th scope="col">Past Participle</th>
                                <th scope="col">Past Simple</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var verb in group)
                            {
                                <tr>
                                    <td scope="row">@verb.BaseForm</td>
                                    <td>@verb.PastParticiple</td>
                                    <td>@verb.PastSimple</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
